<launch>
  <arg name="robot_ns" default="car" />

  <node name="imu"
        pkg="ravros"
        type="imu"
        respawn="true"
        args="0x68 100"
        ns="$(arg robot_ns)" />

  <node name="gps"
        pkg="ravros"
        type="gps"
        respawn="true"
        args="9600 1"
        ns="$(arg robot_ns)" />

  <node name="barometer"
        pkg="ravros"
        type="barometer"
        respawn="true"
        args="0x5d 1"
        ns="$(arg robot_ns)" />

  <node name="car_driver"
        pkg="ravros"
        type="car_driver"
        respawn="true"
        ns="$(arg robot_ns)" />
</launch>

