<launch>
  <arg name="IP" default="localhost"/>
  <env name="ROS_IP" value="$(arg IP)"/>
  <env name="ROS_MASTER_URI" value="http://$(arg IP):11311"/>

  <!-- Initialise parameter server -->
  <rosparam command="load"
            file="$(find robocape_bringup)/config/hovercraft_actuators.yaml"
            ns="hovercraft"
  />
  <rosparam command="load"
            file="$(find robocape_bringup)/config/hovercraft_sensors.yaml"
            ns="hovercraft"
  />

  <!-- Actuator handler nodes -->
  <node name="actuator_hover_handler"
        pkg="robocape_actuators"
        type="actuator.py"
        args="hover"
        ns="hovercraft"
        respawn="true"
  />
  <node name="actuator_rudder_handler"
        pkg="robocape_actuators"
        type="actuator.py"
        args="rudder"
        ns="hovercraft"
        respawn="true"
  />

  <!-- Sensor nodes -->
  <node name="imu_raw_publisher"
        pkg="robocape_imu"
        type="imu.py"
        ns="hovercraft"
        respawn="true"
  />

</launch>
